<h2>Projects</h2>

<a href="http://mixest.com/mgc">
<div class="project">
<h3>Mixest <span class="details">node.js, jPlayer, Android</span></h3>
<img src="/projects/mixest.png">
Mixest was built at the Facebook Summer of Hack 2012 in NYC. It was my first
time building a crawler and a scraper, so I definitely left the Hackathon with
more than just a Roku LT.
<div class="clear"></div>
</div>
</a>

<br>
<div class="project">
<h3>Mixest</h3>
<img src="/projects/mixest.png">
Poop
<div class="clear"></div>
</div>

<br>
<a href="https://github.com/michellebu">
<div class="project">
<h3>More</h3>
Check out more things I've hacked on on my Github.
</div>
</a>
