<h2>Projects</h2>

<a href="http://mixest.com/mgc">
<div class="project">
<h3>Mixest <span class="details">node.js, jPlayer, Android</span></h3>
<img src="/projects/mixest.png">
Mixest was built at the Facebook Summer of Hack 2012 in NYC. It was my first
time building a crawler and a scraper, so I definitely left the Hackathon with
more than just a Roku LT.
<div class="clear"></div>
</div>
</a>

<br>
<div class="project">
<h3>Dropbox++<span class="details">Flask, RaphaelJS, Dropbox API</span></h3>
<img src="/projects/mixest.png">
This was the winner of the 200GB Dropbox prize at The Big Hack 2012. We created a
pretty user interface for users to visualize their Dropbox usage...and easily
create shared folders and directly link their friends.
<div class="clear"></div>
</div>

<br>
<a href="https://github.com/michellebu">
<div class="project">
<h3>More</h3>
Check out more things I've hacked on on my Github.
</div>
</a>
